<%= form_with(model: post, local: true) do |form| %>
  <%= render 'components/errors', errors: post.errors %>
  <div>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.datetime_field :time, min: Time.current.beginning_of_minute %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
