<%= form_with(model: post, local: true) do |form| %>
  <%= render 'components/errors', errors: post.errors %>
  <div class="field">
    <div class="label"><%= form.label :time %></div>
    <div class="control">
      <%= form.datetime_field :time, min: Time.current.beginning_of_minute, class: "input" %>
    </div>
  </div>
  <div class="field">
    <div class="label"><%= form.label :content %></div>
    <div class="control">
      <%= form.text_area :content, class: 'textarea' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.submit class: "button is-primary" %>
    </div>
  </div>
<% end %>
